#plateau {
    border: 3px blue outset;
    background-color: blue;
}
#plateau td {
    width: 2cm;
    height: 2cm;
    margin: 0px;
    padding: 0px;
    border: 2px blue inset;
    border-radius: 2cm;
    background-color: white;
    cursor: pointer;
}
#plateau td.joueur1 {
    background-color: red;
}
#plateau td.joueur2 {
    background-color: yellow;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 20px 0;
  text-align: center;
  color: rebeccapurple;
  background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRG-4LM16l_8MREWyIHl1NfhoWRKko-oZa7dyv1stYZQsrfiLtf);
}

.grid {
  max-width: 960px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.card {
  margin: 5px;
  border: 4px solid black;
  height: 150px;
  width: 150px;
}

table
{
margin: auto;
}
td
{
text-align :center;
}